.main-table {
  width: 100%;
}

.main-table caption {
  font-size: 25px;
}

.main-table thead tr {
  font-size: 18px;
  display: block;
  max-width: 1025px;
}

.main-table thead tr th {
  width: 15%;
}

.main-table thead tr th {
  font-weight: unset;
}

.t-body {
  display: block;
  width: 100%;
  overflow: auto;
  height: 550px;
  text-align: center;
}

.t-body tr td {
  width: 15%;
}

/* Setup of row */
.t-row > td:first-child {
  color: #0000EE;
  text-decoration: underline;
}

.t-row > td:first-child:hover {
  cursor: pointer;
}
/* TODO: Setup Visited color at some point, right now, doesn't keep the affect */
/* .t-row > td:first-child:visited {
  color: #551A8B;
} */
