form.form-main-container {
  display: block;
  width: unset;
  min-width: 500px;
}

form.form-main-container > div {
  text-align: left;
}

form.form-main-container > div > label > div {
  display: flex;
  padding: 0 10px;
}

form.form-main-container > div > label > div > label {
  padding: 0 10px;
}

form.form-main-container > div:last-child {
  width: 350px;
  text-align: center;
}

form.form-main-container > div > div:nth-child(1),
form.form-main-container > div > div:nth-child(2) {
  display: block;
  text-align: unset;
  padding: 5px 0;
  height: unset;
}

form.form-main-container > div > label:nth-child(3),
form.form-main-container > div > label:nth-child(4),
form.form-main-container > div > label:nth-child(5) {
  display: flex;
  font-size: 18px;
  padding: 5px 10px;
}

form.form-main-container button {
  width: 60px;
  height: 25px;
}

form.form-main-container > div > div:nth-child(1) label,
form.form-main-container > div > div:nth-child(2) label {
  font-size: 18px;
  padding: 5px 10px;
}

form.form-main-container
  > div
  > div:nth-child(1)
  input
  form.form-main-container
  > div
  > div:nth-child(2)
  input {
  font-size: 16px;
}
