form {
  display: inline-flex;
  width: 100%;
}
input.form-field {
  margin: auto;
}

label {
  padding: 5px;
}

.form-main-container {
  display: inline-flex;
  margin: auto;
}

.form-container {
  text-align: center;
  display: inline-flex;
}

label.form-label {
  color: rgb(43, 110, 217);
  font: bolder;
  font-size: 20px;
  background-color: rgba(217, 225, 232);
  border-radius: 5px;
  border: none;
  padding: 4px;
}

/*

some setup for each feild and button, might be better in the individual
component fold for css

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  margin: 5px;
  background-color: rgba(217, 225, 232, 0.750);
}
*/
